{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Home
{% endblock %}

{% block page_content %}
<div class="page-header">
    Hello,
    {% if current_user.is_authenticated %}
        {{ current_user.username }}
    {% else %}
        Stranger
    {% endif %}
</div>

<div class="message">
{% if current_user.is_authenticated %}
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Question</th>
                <th scope="col">Category</th>
                <th scope="col">Difficulty</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <th scope="row">{{ question.id }}</th>
                <td>{{ question.question_text }}</td>
                <td>{{ question.category }}</td>
                <td>{{ question.difficulty }}</td>
                <td><a href="{{ url_for('.get_question', id=question.id) }}">View Details</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="/questions/add">Add a new question</a>

{% else %}
    <a href="/register">Create an account</a> to view questions or <a href="/login">sign in</a> if you already have an account in CS50 Study.
{% endif %}

</div>
{% endblock %}
